/* .container{
 
    height: auto;
    margin-left: 380px;
    padding-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
 
} */
.topleftcard{
    width: 350px;
    height: 190px;
    /* background: rgb(117, 48, 48); */
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    overflow-x: hidden;
    margin-left: 330px;
    margin-top: 80px;
    /* display: flex;
    flex-direction: row;
    flex-flow: wrap; */
}

@media (min-width: 1920px) {
    .topleftcard{
        width: 455px;
        height: 240px;
        margin-left: 370px;
    }
}

/* .graph1{
    height: 225px;
    margin-top: 75px;
    margin-left: 340px;
    margin-right: 1200px;
}

/* .box{
    width: 225PX;
    height: 225px;
    background: rgb(117, 48, 48);
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    overflow-x: hidden;
}
.rec{
    width: 100%;
    height: 370px;
    background: rgb(117, 48, 48);
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    overflow-x: hidden;
}
 
.box2{
    width: 225PX;
    height: 225px;
    background: rgb(117, 48, 48);
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    overflow-x: hidden;
    margin-right: 110px;
} 
 
.box3{
    width: 225PX;
    height: 225px;
    background: rgb(117, 48, 48);
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    overflow-x: hidden;
    margin-right: 110px;
} */