.researchpanel {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 50px;
    background-color: #f10b0b;
    overflow-x: hidden;
    padding-top: 20px;
  }

.title {
    text-align: center;
}