.FirstTwoBottomCard {
    width: 300px;
    height: 160px;
    /* background: rgb(117, 48, 48); */
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    overflow-x: hidden;
    margin-left: 330px;
    top: 20px;
    margin-top: 30px;
    /* top: 0px; */
    /* margin-top: 350px; */
    /* display: flex;
    flex-direction: row;
    flex-flow: wrap; */
}

@media (min-width: 1920px) {
    .FirstTwoBottomCard{
        width: 450px;
        height: 250px;
        margin-left: 330px;
        margin-top: 510px;
    }
}