* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}



.FileViewerContainer{
  height: 100%;
  width: 100%;
  background-color: #e3e3e3;
  top: 0;
  left: 0;
}

.FileTree{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FileTreeView{
  border-right: 1px solid #fff;
  width: 200px;
  height: 100vh;
}
.FileTreeView p{
  padding: 5px 10px;
  border: 2px solid burlywood;
  border-radius: 5px;
}

.FilePreview{
  height: 100vh;
  text-align: left;
  width: calc(100% - 200px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
}

.FilePreview p{
  width: 100%;
}