/* .container{
 
    height: auto;
    margin-left: 380px;
    padding-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
 
} */
.centerboxcard {
    width: 1150px;
    height: 600px;
    /* background: rgb(117, 48, 48); */
    /* margin: 20px; */
    box-sizing: border-box;
    font-size: 50px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    /* overflow-x: hidden;
    overflow-y: hidden; */
    margin-left: 340px;
    /* top: 0px; */
    /* margin-top: 350px; */
    /* display: flex;
    flex-direction: row;
    flex-flow: wrap; */
}

.centermaingraph {
    max-height: 500px;
}

@media (min-width: 1920px) {
    .centerboxcard {
        height: 300px;
        /* width: 1500px; */
        margin-left: 330px;
    }
}

/* .graph1{
    height: 225px;
    margin-top: 75px;
    margin-left: 340px;
    margin-right: 1200px;
}

/* .box{
    width: 225PX;
    height: 225px;
    background: rgb(117, 48, 48);
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    overflow-x: hidden;
}
.rec{
    width: 100%;
    height: 370px;
    background: rgb(117, 48, 48);
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    overflow-x: hidden;
}
 
.box2{
    width: 225PX;
    height: 225px;
    background: rgb(117, 48, 48);
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    overflow-x: hidden;
    margin-right: 110px;
} 
 
.box3{
    width: 225PX;
    height: 225px;
    background: rgb(117, 48, 48);
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    overflow-x: hidden;
    margin-right: 110px;
} */